	# This is Git's per-user configuration file.
[user]
	# Please adapt and uncomment the following lines:
	name = Yasu Flores
	email = carlosyasu91@gmail.com
[pager]
	branch = false
[push]
	default = current
